# Computational tools for data science - project

Laoading data and first exploratory analysis

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
netflix = pd.read_csv('data/netflix_titles.csv')
amazon = pd.read_csv('data/amazon_prime_titles.csv')
hulu = pd.read_csv('data/hulu_titles.csv')
disney = pd.read_csv('data/disney_plus_titles.csv')

main = pd.read_csv('data/TMDB_all_movies.csv')

In [3]:
main.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,budget,imdb_id,...,spoken_languages,cast,director,director_of_photography,writers,producers,music_composer,imdb_rating,imdb_votes,poster_path
0,2,Ariel,7.1,330.0,Released,1988-10-21,0.0,73.0,0.0,tt0094675,...,suomi,"Tomi Salmela, Jaakko Talaskivi, Hannu Kivisalo...",Aki Kaurismäki,Timo Salminen,Aki Kaurismäki,Aki Kaurismäki,NaN,7.4,8735.0,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg
1,3,Shadows in Paradise,7.3,369.0,Released,1986-10-17,0.0,74.0,0.0,tt0092149,...,"suomi, English, svenska","Kati Outinen, Ulla Kuosmanen, Jaakko Talaskivi...",Aki Kaurismäki,Timo Salminen,Aki Kaurismäki,Mika Kaurismäki,NaN,7.5,7484.0,/nj01hspawPof0mJmlgfjuLyJuRN.jpg
2,5,Four Rooms,5.8,2623.0,Released,1995-12-09,4257354.0,98.0,4000000.0,tt0113101,...,English,"Quentin Tarantino, Jennifer Beals, Antonio Ban...","Alexandre Rockwell, Quentin Tarantino, Allison...","Rodrigo García, Guillermo Navarro, Phil Parmet...","Alexandre Rockwell, Quentin Tarantino, Allison...","Alexandre Rockwell, Quentin Tarantino, Lawrenc...",Combustible Edison,6.7,112484.0,/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg
3,6,Judgment Night,6.5,331.0,Released,1993-10-15,12136938.0,109.0,21000000.0,tt0107286,...,English,"Christine Harnos, Lauren Robinson, Deirdre Kel...",Stephen Hopkins,Peter Levy,"Lewis Colick, Jere Cunningham","Lloyd Segan, Gene Levy, Marilyn Vance",Alan Silvestri,6.6,19268.0,/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg
4,8,Life in Loops (A Megacities RMX),7.5,27.0,Released,2006-01-01,0.0,80.0,42000.0,tt0825671,...,"English, हिन्दी, 日本語, Pусский, Español",NaN,Timo Novotny,Wolfgang Thaler,"Michael Glawogger, Timo Novotny","Ulrich Gehmacher, Timo Novotny",NaN,8.2,284.0,/7ln81BRnPR2wqxuITZxEciCe1lc.jpg

In [4]:
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [5]:
# Remove TV shows (we only want movies)
def remove_tv_show(df):
    return df[df['type'] == 'Movie']

print('Before removing shows')
print(netflix.shape)
print(amazon.shape)
print(hulu.shape)
print(disney.shape)

netflix = remove_tv_show(netflix)
disney = remove_tv_show(disney)
hulu = remove_tv_show(hulu)
amazon = remove_tv_show(amazon)

#dimension of the dataset
print('After removing shows')
print(netflix.shape)
print(amazon.shape)
print(hulu.shape)
print(disney.shape)

Before removing shows
(8807, 12)
(9668, 12)
(3073, 12)
(1450, 12)
After removing shows
(6131, 12)
(7814, 12)
(1484, 12)
(1052, 12)

In [6]:
#add platform column to main dataset
def platform_column(main, platform, platform_name):
    for index, row in main.iterrows():
        if row['title'] in platform['title'].values: #cambiar dependiendo del nombre de la columna
            main.loc[index, platform_name] = 1
        else:
            main.loc[index, platform_name] = 0
    return main

In [ ]:
# main_netflix = platform_column(main, netflix, 'Netflix')
# main_net_ama = platform_column(main_netflix, amazon, 'Amazon')
# main_net_ama_hulu = platform_column(main_net_ama, hulu, 'Hulu')
# main_complete = platform_column(main_net_ama_hulu, disney, 'Disney')

Run from here!

In [11]:
# load dataset
main_complete = pd.read_csv('data/main_complete.csv')
main_complete.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,budget,imdb_id,...,writers,producers,music_composer,imdb_rating,imdb_votes,poster_path,Netflix,Amazon,Hulu,Disney
0,2,Ariel,7.1,330.0,Released,1988-10-21,0.0,73.0,0.0,tt0094675,...,Aki Kaurismäki,Aki Kaurismäki,NaN,7.4,8735.0,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,0.0,0.0,0.0,0.0
1,3,Shadows in Paradise,7.3,369.0,Released,1986-10-17,0.0,74.0,0.0,tt0092149,...,Aki Kaurismäki,Mika Kaurismäki,NaN,7.5,7484.0,/nj01hspawPof0mJmlgfjuLyJuRN.jpg,0.0,0.0,0.0,0.0
2,5,Four Rooms,5.8,2623.0,Released,1995-12-09,4257354.0,98.0,4000000.0,tt0113101,...,"Alexandre Rockwell, Quentin Tarantino, Allison...","Alexandre Rockwell, Quentin Tarantino, Lawrenc...",Combustible Edison,6.7,112484.0,/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg,0.0,0.0,0.0,0.0
3,6,Judgment Night,6.5,331.0,Released,1993-10-15,12136938.0,109.0,21000000.0,tt0107286,...,"Lewis Colick, Jere Cunningham","Lloyd Segan, Gene Levy, Marilyn Vance",Alan Silvestri,6.6,19268.0,/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg,0.0,0.0,0.0,0.0
4,8,Life in Loops (A Megacities RMX),7.5,27.0,Released,2006-01-01,0.0,80.0,42000.0,tt0825671,...,"Michael Glawogger, Timo Novotny","Ulrich Gehmacher, Timo Novotny",NaN,8.2,284.0,/7ln81BRnPR2wqxuITZxEciCe1lc.jpg,0.0,0.0,0.0,0.0

In [12]:
#count the number of movies in each platform
def count_movies(df, platform_name):
    return df[platform_name].sum()

In [13]:
netflix_count = count_movies(main_complete, 'Netflix')
print(netflix_count)
amazon_count = count_movies(main_complete, 'Amazon')
print(amazon_count)
hulu_count = count_movies(main_complete, 'Hulu')
print(hulu_count)
disney_count = count_movies(main_complete, 'Disney')
print(disney_count)

14587.0
16823.0
4106.0
2051.0

In [14]:
#count the number of movies in more than one platform (take in consideration two, three and four platforms)
count = 0
for index, row in main_complete.iterrows():
    if row['Netflix'] + row['Amazon'] + row['Hulu'] + row['Disney'] > 1:
        count += 1
print(count)

3103

In [15]:
#identify which movies are in more than one platform
def more_than_one_platform(df):
    return df[(df['Netflix'] + df['Amazon'] + df['Hulu'] + df['Disney']) > 1]

in_platforms = more_than_one_platform(main_complete)

In [13]:
in_platforms

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,budget,imdb_id,...,writers,producers,music_composer,imdb_rating,imdb_votes,poster_path,Netflix,Amazon,Hulu,Disney
45,79,Hero,7.500,2226.0,Released,2002-07-22,177394432.0,99.0,31000000.0,tt0299977,...,"Zhang Yimou, Bin Wang, Feng Li","Zhang Zhenyan, Shoufang Dou, Zhang Weiping, Bi...",Tan Dun,7.9,189136.0,/1NBtOH3KPU9UUp1vzVHJ8qzdW88.jpg,1.0,1.0,0.0,0.0
229,277,Underworld,6.800,6057.0,Released,2003-09-19,95708457.0,122.0,22000000.0,tt0320691,...,"Kevin Grevioux, Len Wiseman, Danny McBride","Gary Lucchesi, Richard S. Wright, Terry McKay,...",Paul Haslinger,7.0,289447.0,/zsnQ41UZ3jo1wEeemF0eA9cAIU0.jpg,1.0,1.0,1.0,0.0
392,504,Monster,7.200,2269.0,Released,2003-12-24,60400000.0,110.0,8000000.0,tt0340855,...,Patty Jenkins,"Meagan Riley-Grant, Mark Damon, Sammy Lee, Cla...",BT,7.3,164908.0,/aevmNtJCNG4ZlfEeEGZ79frMUes.jpg,1.0,1.0,0.0,0.0
436,559,Spider-Man 3,6.431,13993.0,Released,2007-05-01,894983373.0,139.0,258000000.0,tt0413300,...,"Steve Ditko, Sam Raimi, Stan Lee, Todd McFarla...","Grant Curtis, Joseph M. Caracciolo Jr., Stan L...",Christopher Young,6.3,652221.0,/qFmwhVUoUSXjkKRmca5yGDEXBIj.jpg,1.0,0.0,1.0,0.0
465,591,The Da Vinci Code,6.700,9202.0,Released,2006-05-17,767800000.0,149.0,125000000.0,tt0382625,...,"Akiva Goldsman, Dan Brown","Todd Hallowell, John Calley, Brian Grazer, Ron...",Hans Zimmer,6.6,465177.0,/9ejKfNk0LBhSI9AahH4f9NJNZNM.jpg,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1009302,1378729,Home,0.000,0.0,In Production,2024-11-07,0.0,11.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,/jvtBswbiRWLTDEWaIcpMyqFgrTD.jpg,1.0,1.0,0.0,0.0
1009336,1378767,Daphne,0.000,0.0,Released,2024-09-01,0.0,0.0,0.0,NaN,...,"M. Mainetti, Nicola Bianchi","M. Mainetti, Nicola Bianchi, Claudio Braccini,...",NaN,NaN,NaN,/cYnEPg0Ae0GLIoUFZdLsvOtgnRn.jpg,0.0,1.0,1.0,0.0
1009349,1378781,The Giant,0.000,0.0,Released,2012-08-09,0.0,21.0,0.0,tt2097930,...,David Raboy,Ella Hatamian,Ari Balouzian,6.4,19.0,/duRA2LRX6232ZRgWPQhMmVNzjJE.jpg,1.0,1.0,0.0,0.0
1009388,1378823,Red,0.000,0.0,Released,NaN,0.0,14.0,0.0,NaN,...,"Hanaa Attia, gameela wify",NaN,NaN,NaN,NaN,/crCMpOm9C49MfNnGXvcEuIyhNl8.jpg,1.0,1.0,0.0,0.0
1009447,1378886,30 Minutes or Less,0.000,0.0,Released,2001-07-01,0.0,18.0,0.0,tt0303142,...,Mikael Jacobson,"Sean Wesky, Matt Van Gelder, Jay Pascua, Pat R...",NaN,5.6,30.0,/siQsZfTH3JpnukiZc0aPb04Whs3.jpg,1.0,0.0,1.0,0.0

In [16]:
main_complete.dtypes

id                           int64
title                       object
vote_average               float64
vote_count                 float64
status                      object
release_date                object
revenue                    float64
runtime                    float64
budget                     float64
imdb_id                     object
original_language           object
original_title              object
overview                    object
popularity                 float64
tagline                     object
genres                      object
production_companies        object
production_countries        object
spoken_languages            object
cast                        object
director                    object
director_of_photography     object
writers                     object
producers                   object
music_composer              object
imdb_rating                float64
imdb_votes                 float64
poster_path                 object
Netflix                    float64
Amazon                     float64
Hulu                       float64
Disney                     float64
dtype: object

In [ ]:
movies.dtype